[submodule "teleop/televuer"]
	path = teleop/televuer
	url = https://github.com/silencht/televuer
[submodule "teleop/robot_control/dex-retargeting"]
	path = teleop/robot_control/dex-retargeting
	url = https://github.com/silencht/dex-retargeting
[submodule "third_party/unitree_sdk2_python"]
	path = third_party/unitree_sdk2_python
	url = https://github.com/kan5r/unitree_sdk2_python.git
